<h1>Logowanie</h1>

<form [formGroup]="loginFormGroup">
    <mat-form-field appearance="outline">
        <mat-label>Numer identyfikacyjny</mat-label>
        <input matInput formControlName="idNumber">
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Hasło</mat-label>
        <input type="password" matInput formControlName="password">
    </mat-form-field>

    <label *ngIf="(facade.authStatus$ | async) === AuthStatus.Error">
        Błąd logowania - upewnij się, że dane są poprawne
    </label>

    <button mat-raised-button (click)="fillCustomerData()" class="example-data-button">
        Wypełnij dane klienta
    </button>
    <button mat-raised-button (click)="fillEmployeeData()" class="example-data-button">
        Wypełnij dane pracownika
    </button>

    <mat-progress-spinner *ngIf="(facade.authStatus$ | async) === AuthStatus.Authenticating" 
                          mode="indeterminate" 
                          [diameter]="25">
    </mat-progress-spinner>
    
    <button *ngIf="(facade.authStatus$ | async) !== AuthStatus.Authenticating"
            mat-raised-button
            class="login-button"
            [disabled]="!loginFormGroup.valid" 
            (click)="login()">
        <span>Zaloguj</span>
    </button>
</form>
