<h1>Logowanie</h1>

<form [formGroup]="loginFormGroup">
    <input nz-input placeholder="Email" formControlName="email">
    <input nz-input placeholder="Password" type="password" formControlName="password">

    <nz-alert nzType="error" 
              nzMessage="Błąd logowania - upewnij się, że dane są poprawne"
              *ngIf="(facade.authStatus$ | async) === AuthStatus.Error">  
    </nz-alert>

    <button nz-button nzType="default" (click)="fillCustomerData()" class="example-data-button">
        Wypełnij dane klienta
    </button>
    <button nz-button nzType="default" (click)="fillEmployeeData()" class="example-data-button">
        Wypełnij dane pracownika
    </button>

    <nz-spin nzSimple nzSize="small" *ngIf="(facade.authStatus$ | async) === AuthStatus.Authenticating"></nz-spin>
    
    <button *ngIf="(facade.authStatus$ | async) !== AuthStatus.Authenticating"
            nz-button
            nzType="primary"
            class="login-button"
            [disabled]="!loginFormGroup.valid" 
            (click)="login()">
        <span>Zaloguj</span>
    </button>
</form>
