:host {
    text-align: center;
    align-self: center;
    margin-inline: auto;
}

.error-alert {
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
}

form {
    width: 400px;
    position: relative;
}

.example-data-button {
    margin: 5px 0;
    width: 80%;
    justify-self: center;
}

.login-button,
nz-spin {
    margin-top: 20px;
}