<bnk-info-item [subtitle]="'transaction.pay_from' | translate">
    {{transaction.accountNumberFrom | mask:TransactionsConstants.accountNumberMask}}
</bnk-info-item>
<bnk-info-item [subtitle]="'transaction.pay_to' | translate">
    {{transaction.accountNumberTo | mask:TransactionsConstants.accountNumberMask}}
</bnk-info-item>
<bnk-info-item [subtitle]="'transaction.title' | translate">
    {{transaction.title}}
</bnk-info-item>
<bnk-info-item [subtitle]="'transaction.description' | translate">
    <span *ngIf="transaction.description.length === 0">{{'shared.none' | translate}}</span>
    <span *ngIf="transaction.description.length > 0">{{transaction.description}}</span>
</bnk-info-item>
<bnk-info-item [subtitle]="'transaction.date' | translate">
    {{transaction.date | date:'dd.MM.yyyy HH:mm:ss'}}
</bnk-info-item>
<bnk-info-item [subtitle]="'transaction.type' | translate">
    {{transaction.transactionType === TransactionType.Incoming ? ('transaction.incoming' | translate) : ('transaction.outcoming' | translate)}}
</bnk-info-item>
<bnk-info-item [subtitle]="'transaction.amount' | translate">
    <span class="amount">${{transaction.amount}}</span>
</bnk-info-item>
<div class="actions">
    <button nz-button nzType="primary" (click)="facade.downloadConfirmation(transaction.id)">{{'transaction.download_confirmation' | translate}}</button>
</div>
