@use 'mixins' as *;

:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15px;
  row-gap: 40px;

  @include sm {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}

.amount {
  font-size: 20px;
}

bnk-info-item {
  ::ng-deep span {
    word-break: break-all;
  }
}