@use 'mixins' as *;

.body {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-primary);
  min-height: 100%;

  @include md {
    position: relative;
    flex-direction: column;
    justify-content: initial;
  }
}

.sidenav {
  transition: 0.5s;

  &--authorized {
    width: 250px;
  }

  &--unauthorized {
    width: 30%;
  }

  @include md {
    width: 100%;
  }
}

.content {
  background-color: var(--color-background);
  border-radius: 35px 0 0 35px;
  display: flex;
  flex: 1;
  padding: 15px;
  overflow-x: auto;

  @include md {
    border-radius: 0;
    margin-bottom: 70px;
  }
}