:root,
::before,
::after {
    --color-primary: #6DAFFE;
    --color-secondary: #437FC7;
    --color-secondary-light: #6599D7;
    --color-secondary-hover: #2567B8;
    //--color-background: #EDF6FF;
    --color-background: #FBF7F4;
    --color-accent: #FEBC6D;
    --color-accent-hover: #E09945;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-red: #ff4d4f;
    --color-gray: #C2C2C2;
    --color-text: #000000;
}