* {
    box-sizing: border-box;
}

html,
body {
    height: 100%; 
}

body { 
    margin: 0;
    font-family: Rubik,
    "Helvetica Neue", sans-serif;
}

a {
    font-weight: 500;
}

textarea {
    resize: none;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
}

.page-header {
    width: 100%;
    display: grid;
    gap: 15px;
    text-align: center;
    
    button {
        width: min-content;
    }
}

//ng-zorro
.ant-form-item {
    display: grid;
}

.ant-form-item-label {
    display: flex;
    justify-content: flex-start;

    &>label {
        
        &::before {
            content: '' !important;
        }

        &::after {
            content: '';
        }

        &.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
            display: inline-block;
            margin-right: 4px;
            color: var(--color-red);
            font-size: 14px;
            font-family: SimSun,sans-serif;
            line-height: 1;
            content: '*';
        }
    }
}

.ant-input,
.ant-btn {
    border-radius: 5px;
}

.ant-btn[disabled] {
    cursor: initial;
}

.elevated {
    box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}

.account-options-panel {
    //height: 200px;
    .ant-select-item {
        padding: 15px 10px;
    }

    .cdk-virtual-scroll-viewport {
        min-height: 175px;
    }
}

.ant-modal-body {
    max-height: 75vh;
    overflow-y: scroll;
}

::selection {
    color: white; 
    background: #3297FD;
}


::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--color-gray);
}