<div class="header">
    <span class="account-name">{{account.accountType.translation | translatedField:currentLanguage}}</span>
    <span class="account-number">{{account.accountNumber | mask: TransactionsConstants.accountNumberMask}}</span>
</div>
<div class="account-balance">
    {{account.balance | mask:'separator'}} zł
</div>

<div class="no-transactions" *ngIf="account.recentTransactions.length === 0">
    {{'dashboard.no_transactions_for_selected_account' | translate}}
</div>

<div class="transactions-table" *ngIf="account.recentTransactions.length > 0">
    <span class="transactions-table-title">{{'dashboard.recent_transactions' | translate}}</span>
    <div *ngFor="let transaction of account.recentTransactions; index as i">
        <div class="transaction" (click)="openTransactionDialog(transaction)" [ngClass]="{'transaction--incoming': transaction.transactionType === TransactionType.Incoming, 'transaction--outcoming': transaction.transactionType === TransactionType.Outcoming}">
            <span class="hide-small">{{transaction.date | date: 'dd.MM.yyyy'}}</span>
            <span class="hide-small" *ngIf="transaction.transactionType === TransactionType.Incoming">{{transaction.accountNumberFrom | mask:TransactionsConstants.accountNumberMask}}</span>
            <span class="hide-small" *ngIf="transaction.transactionType === TransactionType.Outcoming">{{transaction.accountNumberTo | mask:TransactionsConstants.accountNumberMask}}</span>
            <span>{{transaction.title}}</span>
            <span class="amount">{{transaction.amount | mask:'separator'}} zł</span>
        </div>
        <hr *ngIf="i !== account.recentTransactions.length-1">
    </div>
</div>
<div class="account-actions">
    <button nz-button nzType="default" [routerLink]="['/transactions/list']">{{'dashboard.full_transactions_list' | translate}}</button>
    <button nz-button nzType="primary" [routerLink]="['/transactions/new']">{{'dashboard.new_transaction' | translate}}</button>
</div>
