.title {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: #437FC7; //TODO: Change color
}

.header-buttons {
    display: flex;
}

.home-title {
    color: white;
    cursor: pointer;
}

.menu {
    height: 40px;
    display: flex;
    align-items: center;
    background: cornflowerblue; //TODO: Change color
}