.title {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: lightblue; //TODO: Change color
}

.menu {
    height: 40px;
    display: flex;
    align-items: center;
    background: cornflowerblue; //TODO: Change color
}