<form nz-form [formGroup]="registrationFormGroup">
    <nz-steps [nzCurrent]="step">
        <nz-step [nzTitle]="'auth.personal_data' | translate"></nz-step>
        <nz-step [nzTitle]="'auth.account_choice' | translate"></nz-step>
    </nz-steps>
    <ng-container *ngIf="step === 0">
        <nz-form-item>
            <nz-form-label nzRequired nzFor="firstName">{{'auth.first_name' | translate}}</nz-form-label>
            <nz-form-control>
                <input nz-input formControlName="firstName" id="firstName" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired nzFor="lastName">{{'auth.last_name' | translate}}</nz-form-label>
            <nz-form-control>
                <input nz-input formControlName="lastName" id="lastName" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired nzFor="email">{{'auth.email' | translate}}</nz-form-label>
            <nz-form-control>
                <input nz-input type="email" formControlName="email" id="email" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired nzFor="password" [nzTooltipTitle]="passwordTooltipTemplate">{{'auth.password' | translate}}</nz-form-label>
            <nz-form-control>
                <input nz-input type="password" formControlName="password" id="password" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label nzRequired nzFor="repeatPassword">{{'auth.repeat_password' | translate}}</nz-form-label>
            <nz-form-control>
                <input nz-input type="password" formControlName="repeatPassword" id="repeatPassword" />
            </nz-form-control>
        </nz-form-item>
        <span class="login-redirect">{{'auth.already_have_account' | translate}} <a [routerLink]="'/' + AppRoutes.login">{{'auth.login' | translate}}</a></span>
        <nz-form-item>
            <nz-form-control>
                <button nz-button nzType="primary" class="next-button" (click)="moveForward()" [disabled]="!registrationFormGroup.valid">{{'shared.next' | translate}}</button>
            </nz-form-control>
        </nz-form-item>
    </ng-container>
    <ng-container *ngIf="step === 1">
        <nz-alert nzType="error" 
                  [nzMessage]="'error.register' | translate"
                  class="error-alert"
                  *ngIf="(authFacade.authStatus$ | async) === AuthStatus.ErrorRegister">  
        </nz-alert>
        <nz-form-item>
            <nz-form-control>
                <nz-skeleton [nzActive]="true" *ngIf="(dictFacade.accountTypes$ | async) === null"></nz-skeleton>
                <nz-radio-group *ngIf="(dictFacade.accountTypes$ | async) as accountTypes" [formControl]="initialAccountTypeIdControl" nzButtonStyle="solid">
                    <label nz-radio-button *ngFor="let account of accountTypes" [nzValue]="account.id">
                        <span class="account-name">{{account.name | translatedField:currentLanguage}}</span>
                        <span class="account-description">{{account.description | translatedField:currentLanguage}}</span>
                    </label>
                    <label nz-radio-button [nzValue]="null">{{'auth.continue_without_account' | translate}}</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>
        <div class="buttons">
            <nz-form-control>
                <button nz-button nzType="default" (click)="moveBack()">{{'shared.back' | translate}}</button>
            </nz-form-control>
            <nz-form-control>
                <nz-spin nzSimple nzSize="small" *ngIf="(authFacade.authStatus$ | async) === AuthStatus.Registering"></nz-spin>
                <button *ngIf="(authFacade.authStatus$ | async) !== AuthStatus.Registering" 
                        nz-button 
                        nzType="primary" 
                        [disabled]="!registrationFormGroup.valid" 
                        (click)="register()">
                {{'auth.register_label' | translate}}
            </button>
            </nz-form-control>
        </div>
    </ng-container>
</form>



<ng-template #passwordTooltipTemplate class="password-tooltip">
    <span>{{'auth.password_rules.password_should_contain_at_least' | translate}}</span>
    <div class="password-validation-entry">
        <span>{{'auth.password_rules.ten_characters' | translate}}</span>
        <span *ngIf="!hasEnoughCharacters" nz-icon nzType="close" nzTheme="outline" style="color: red;"></span>
        <span *ngIf="hasEnoughCharacters" nz-icon nzType="check" nzTheme="outline" style="color: green;"></span>
    </div>
    <div class="password-validation-entry">
        <span>{{'auth.password_rules.one_capital' | translate}}</span>
        <span *ngIf="!hasEnoughCapitalLetters" nz-icon nzType="close" nzTheme="outline" style="color: red;"></span>
        <span *ngIf="hasEnoughCapitalLetters" nz-icon nzType="check" nzTheme="outline" style="color: green;"></span>
    </div>
    <div class="password-validation-entry">
        <span>{{'auth.password_rules.one_digit' | translate}}</span>
        <span *ngIf="!hasEnoughDigits" nz-icon nzType="close" nzTheme="outline" style="color: red;"></span>
        <span *ngIf="hasEnoughDigits" nz-icon nzType="check" nzTheme="outline" style="color: green;"></span>
    </div>
    <div class="password-validation-entry">
        <span>{{'auth.password_rules.one_special_character' | translate}}</span>
        <span *ngIf="!hasEnoughSpecialCharacters" nz-icon nzType="close" nzTheme="outline" style="color: red;"></span>
        <span *ngIf="hasEnoughSpecialCharacters" nz-icon nzType="check" nzTheme="outline" style="color: green;"></span>
    </div>
</ng-template>




