:host {
    text-align: center;
    align-self: center;
    margin-inline: auto;
}

.error-alert {
    position: absolute;
    top: -70px;
}

form {
    width: 400px;
    position: relative;
}

.example-data-button {
    margin: 5px 0;
}

.login-button,
nz-spin {
    margin-top: 20px;
}

.password-validation-entry {
    display: grid;
    grid-template-columns: auto 40px;
    align-items: center;
}

.next-button {
    margin-top: 20px;
}

.buttons {
    display: grid;
    gap: 10px;
}

.ant-radio-group {
    display: grid;
    gap: 15px;
}

.ant-radio-button-wrapper {
    height: initial;

    > ::ng-deep  span:last-child {
        display: grid;
        padding-block: 5px;
    }
}

.account-name {
    font-size: 1.2rem;
    font-weight: 500;
}

.ant-steps {
    margin-bottom: 30px;
}