:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-info {
    color: white;
    display: grid;
    text-align: center;
    gap: 15px;
    padding: 10px;
    .anticon {
        font-size: 2.5rem;
    }
}