@use 'mixins' as *;

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.center {
  flex: 1;
  padding: 20px 0;
  justify-items: center;
  box-shadow: inset 0px -20px 24px 0px var(--color-secondary),
              inset 0px 20px 24px 0px var(--color-secondary);
}

.user-info {
  color: var(--color-white);
  display: grid;
  text-align: center;
  gap: 15px;
  padding: 10px 25px;
  max-width: 300px;
  margin: auto;
  
  .anticon {
      font-size: 2.5rem;
  }
}

.nav-element {
  display: grid;
  grid-template-columns: 4fr 1fr;
  justify-items: center;
  gap: 10px;
  color: var(--color-white);
  background: var(--color-secondary);
  width: 80%;
  margin: 15px auto;
  padding: 10px 0;
  border-radius: 10px;
  cursor: pointer;
  max-width: 300px;

  .arrow-icon {
    grid-row: span 2;
    display: grid;
    align-items: center;
  }

  .nav-icon {
    font-size: 2rem;
  }

  &:hover:not(&--active) {
    background-color: var(--color-secondary-hover);
  }

  &--active {
    background-color: var(--color-accent);
    color: var(--color-black);
  }
}

hr {
  width: 80%;
  border-color: var(--color-secondary-light);
  margin-block: 10px;
}

bnk-client-selector {
  display: grid;
  width: 80%;
  margin-inline: auto;
}

.toggle-menu-icon {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  display: none;
  
  @include md {
    display: block;
  }
}

.sidemenu {
  &--closed {
    @include md {
      display: none;
    }
  }
}