<bnk-header></bnk-header>

<div class="center">
    <ng-container *ngIf="(authFacade.authStatus$ | async) === AuthStatus.Authenticated">
        <div class="user-info" >
            <span nz-icon nzType="user" nzTheme="outline"></span>
            <span>{{(authFacade.userInfo$ | async)?.username}}</span>
            <button nz-button 
                    nzType="primary" 
                    (click)="authFacade.logout()">
                {{'auth.logout' | translate}}
            </button>
        </div>

        <hr>

        <ng-container *ngIf="userService.isInRole(UserRoles.Employee)">
            <bnk-client-selector></bnk-client-selector>
            <hr>
        </ng-container>

        <div class="nav-element" [routerLink]="[AppRoutes.dashboard]" routerl routerLinkActive="nav-element--active" [routerLinkActiveOptions]="{exact: true}">
            <span nz-icon nzType="home" nzTheme="outline" class="nav-icon"></span>
            <span nz-icon nzType="right" nzTheme="outline" class="arrow-icon"></span>
            <span>{{'nav.main_page' | translate}}</span>
        </div>

        <div class="nav-element" *ngIf="userService.isInRole(UserRoles.Client)" [routerLink]="[AppRoutes.transactions, TransactionsRoutes.new]" routerLinkActive="nav-element--active" [routerLinkActiveOptions]="{exact: true}">
            <span nz-icon nzType="dollar" nzTheme="outline" class="nav-icon"></span>
            <span nz-icon nzType="right" nzTheme="outline" class="arrow-icon"></span>
            <span>{{'nav.new_transaction' | translate}}</span>
        </div>

        <div class="nav-element" [routerLink]="[AppRoutes.transactions, TransactionsRoutes.list]" routerLinkActive="nav-element--active" [routerLinkActiveOptions]="{exact: true}">
            <span nz-icon nzType="unordered-list" nzTheme="outline" class="nav-icon"></span>
            <span nz-icon nzType="right" nzTheme="outline" class="arrow-icon"></span>
            <span>{{'nav.transactions_list' | translate}}</span>
        </div>
    </ng-container>
</div>

<bnk-footer></bnk-footer>