.ant-radio-group {
    display: grid;
    gap: 5px;
    margin: 20px 0;
}

.no-entries-label {
    display: grid;
    text-align: center;
}

.ant-radio-button-wrapper {
    height: initial;
    line-height: 25px;

    > ::ng-deep  span:last-child {
        display: grid;
        padding-block: 5px;
    }
}