<ng-container *ngIf="!isActive">
    <button nz-button nzType="primary" (click)="onActivate()">{{'dashboard.add_new_account' | translate}}</button>
</ng-container>

<div *ngIf="isActive" class="active-content">
    <nz-alert nzType="info" [nzMessage]="'dashboard.balance_for_demonstration' | translate"></nz-alert>
    <nz-form-item>
        <nz-form-label nzFor="selectedAccount">{{'dashboard.account_type' | translate}}</nz-form-label>
        <nz-form-control>
            <nz-select [(ngModel)]="selectedType" [compareWith]="compareFn" [nzCustomTemplate]="defaultTemplate" class="account-select" nzDropdownClassName="account-type-panel">
                <nz-option *ngFor="let account of dictionariesFacade.accountTypes$ | async" nzCustomContent [nzValue]="account">
                    <div class="option">
                        <span class="type-name">{{account.name | translatedField:currentLanguage}}</span>
                        <span class="type-description">{{account.description | translatedField:currentLanguage}}</span>
                    </div>
                </nz-option>
            </nz-select>
            <ng-template #defaultTemplate let-selected>
                {{selected.nzValue.name | translatedField:currentLanguage}}
            </ng-template>
        </nz-form-control>
    </nz-form-item>
    <div class="actions">
        <button nz-button nzType="default" (click)="onCancel()">{{'shared.cancel' | translate}}</button>
        <button nz-button nzType="primary" (click)="onAdd()" [disabled]="selectedType === null">{{'shared.confirm' | translate}}</button>
    </div>
</div>

