:host {
    min-height: 40px;
    padding: 10px 20px;
    padding-right: 25%;
    background-color: var(--color-secondary);
    display: grid;
    width: 120%;
    gap: 10px;
}

span {
    color: white;

    &.created-by {
        text-align: center;
    }
}

.icons {
    display: flex;
    justify-content: space-around;

    .anticon {
        font-size: 1.3rem;
    }
}