<button nz-button nz-dropdown nzType="text" nzTrigger="click" class="trigger-button" [nzDropdownMenu]="menu" nzPlacement="bottomCenter">
    <img class="current-language" [src]="facade.selectedLanguageFlag$ | async">
</button>
<nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
        <li nz-menu-item *ngFor="let language of facade.availableLanguages$ | async" 
                         [ngClass]="{'ant-dropdown-menu-item--active': language.code === (facade.selectedLanguage$ | async)}"
                         (click)="translationService.setLanguage(language.code)">
            <img [src]="language.flag">
            <span>{{language.name}}</span>
        </li>
    </ul>
</nz-dropdown-menu>
