:host {
  display: flex;
  align-items: center;
}

.ant-dropdown-menu {
  padding: 0;
}

  .ant-dropdown-menu-item {
    height: 40px;

    &--active {
      background-color: lightcoral; //TODO: Change color
      span {
        color: white; //TODO: Change color
      }
    }
  }

  img {
    height: 20px;
    margin-right: 5px;
  }